name: Deploy

on: push

jobs:
  deploy:
    if: startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
      - name: Install requirements
        run: pip install --upgrade setuptools twine
      - name: Build NNCore
        run: python setup.py sdist
      - name: Test publish to PyPI
        run: twine upload -r testpypi -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*
      - name: Publish to PyPI
        run: twine upload -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*
